:root {
  --rosa-claro: #e8dcdc;
  --rosa-hover: #f0e0e0;
  --font-main: 'ABeeZee', sans-serif;
  --outline-focus: hotpink;
  --text-color: #68412f;
  --text-dark: #000000; /* Color negro */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-image: url('Backgroundimage/backgroundroses.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para el encabezado */
h1 {
  color: var(--text-dark); /* Cambié a negro */
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

/* Estilo para los botones de descarga */
.catalogos-buttons a {
  background-color: var(--rosa-claro);
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Asegura que no haya subrayado */
}

.catalogos-buttons a:hover {
  background-color: var(--rosa-hover);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  body {
      font-size: 14px;
  }

  .catalogos-buttons a {
      font-size: 14px;
      padding: 10px 15px;
  }

  h1 {
      font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
      font-size: 1.8rem;
  }

  .catalogos-buttons a {
      font-size: 12px;
      padding: 8px 12px;
  }
}
